@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400');

* { font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;}

body, ul {
	/*height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;*/
	margin: 0;
	padding: 0;
}